<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.roc.mag.mapper.DmCeoDesktopTMapper">
  <resultMap id="BaseResultMap" type="cn.roc.mag.entity.DmCeoDesktopT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date_id" jdbcType="INTEGER" property="dateId" />
    <result column="month_id" jdbcType="INTEGER" property="monthId" />
    <result column="year_id" jdbcType="INTEGER" property="yearId" />
    <result column="order_total" jdbcType="INTEGER" property="orderTotal" />
    <result column="order_total_amount" jdbcType="DECIMAL" property="orderTotalAmount" />
    <result column="amount_collected" jdbcType="DECIMAL" property="amountCollected" />
    <result column="we_chat" jdbcType="DECIMAL" property="weChat" />
    <result column="alipay" jdbcType="DECIMAL" property="alipay" />
    <result column="star_chain_card" jdbcType="DECIMAL" property="starChainCard" />
    <result column="star_chain_purse" jdbcType="DECIMAL" property="starChainPurse" />
    <result column="scan_code_payment" jdbcType="DECIMAL" property="scanCodePayment" />
    <result column="yuan_payment" jdbcType="DECIMAL" property="yuanPayment" />
    <result column="user_number" jdbcType="INTEGER" property="userNumber" />
    <result column="app_number" jdbcType="INTEGER" property="appNumber" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="uv" jdbcType="INTEGER" property="uv" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date_id, month_id, year_id, order_total, order_total_amount, amount_collected, 
    we_chat, alipay, star_chain_card, star_chain_purse, scan_code_payment, yuan_payment, 
    user_number, app_number, pv, uv, business_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_ceo_desktop_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dm_ceo_desktop_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    insert into dm_ceo_desktop_t (id, date_id, month_id, 
      year_id, order_total, order_total_amount, 
      amount_collected, we_chat, alipay, 
      star_chain_card, star_chain_purse, scan_code_payment, 
      yuan_payment, user_number, app_number, 
      pv, uv, business_type
      )
    values (#{id,jdbcType=INTEGER}, #{dateId,jdbcType=INTEGER}, #{monthId,jdbcType=INTEGER}, 
      #{yearId,jdbcType=INTEGER}, #{orderTotal,jdbcType=INTEGER}, #{orderTotalAmount,jdbcType=DECIMAL}, 
      #{amountCollected,jdbcType=DECIMAL}, #{weChat,jdbcType=DECIMAL}, #{alipay,jdbcType=DECIMAL}, 
      #{starChainCard,jdbcType=DECIMAL}, #{starChainPurse,jdbcType=DECIMAL}, #{scanCodePayment,jdbcType=DECIMAL}, 
      #{yuanPayment,jdbcType=DECIMAL}, #{userNumber,jdbcType=INTEGER}, #{appNumber,jdbcType=INTEGER}, 
      #{pv,jdbcType=INTEGER}, #{uv,jdbcType=INTEGER}, #{businessType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    insert into dm_ceo_desktop_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dateId != null">
        date_id,
      </if>
      <if test="monthId != null">
        month_id,
      </if>
      <if test="yearId != null">
        year_id,
      </if>
      <if test="orderTotal != null">
        order_total,
      </if>
      <if test="orderTotalAmount != null">
        order_total_amount,
      </if>
      <if test="amountCollected != null">
        amount_collected,
      </if>
      <if test="weChat != null">
        we_chat,
      </if>
      <if test="alipay != null">
        alipay,
      </if>
      <if test="starChainCard != null">
        star_chain_card,
      </if>
      <if test="starChainPurse != null">
        star_chain_purse,
      </if>
      <if test="scanCodePayment != null">
        scan_code_payment,
      </if>
      <if test="yuanPayment != null">
        yuan_payment,
      </if>
      <if test="userNumber != null">
        user_number,
      </if>
      <if test="appNumber != null">
        app_number,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="uv != null">
        uv,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dateId != null">
        #{dateId,jdbcType=INTEGER},
      </if>
      <if test="monthId != null">
        #{monthId,jdbcType=INTEGER},
      </if>
      <if test="yearId != null">
        #{yearId,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null">
        #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderTotalAmount != null">
        #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountCollected != null">
        #{amountCollected,jdbcType=DECIMAL},
      </if>
      <if test="weChat != null">
        #{weChat,jdbcType=DECIMAL},
      </if>
      <if test="alipay != null">
        #{alipay,jdbcType=DECIMAL},
      </if>
      <if test="starChainCard != null">
        #{starChainCard,jdbcType=DECIMAL},
      </if>
      <if test="starChainPurse != null">
        #{starChainPurse,jdbcType=DECIMAL},
      </if>
      <if test="scanCodePayment != null">
        #{scanCodePayment,jdbcType=DECIMAL},
      </if>
      <if test="yuanPayment != null">
        #{yuanPayment,jdbcType=DECIMAL},
      </if>
      <if test="userNumber != null">
        #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="appNumber != null">
        #{appNumber,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    update dm_ceo_desktop_t
    <set>
      <if test="dateId != null">
        date_id = #{dateId,jdbcType=INTEGER},
      </if>
      <if test="monthId != null">
        month_id = #{monthId,jdbcType=INTEGER},
      </if>
      <if test="yearId != null">
        year_id = #{yearId,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null">
        order_total = #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderTotalAmount != null">
        order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountCollected != null">
        amount_collected = #{amountCollected,jdbcType=DECIMAL},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=DECIMAL},
      </if>
      <if test="alipay != null">
        alipay = #{alipay,jdbcType=DECIMAL},
      </if>
      <if test="starChainCard != null">
        star_chain_card = #{starChainCard,jdbcType=DECIMAL},
      </if>
      <if test="starChainPurse != null">
        star_chain_purse = #{starChainPurse,jdbcType=DECIMAL},
      </if>
      <if test="scanCodePayment != null">
        scan_code_payment = #{scanCodePayment,jdbcType=DECIMAL},
      </if>
      <if test="yuanPayment != null">
        yuan_payment = #{yuanPayment,jdbcType=DECIMAL},
      </if>
      <if test="userNumber != null">
        user_number = #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="appNumber != null">
        app_number = #{appNumber,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    update dm_ceo_desktop_t
    set date_id = #{dateId,jdbcType=INTEGER},
      month_id = #{monthId,jdbcType=INTEGER},
      year_id = #{yearId,jdbcType=INTEGER},
      order_total = #{orderTotal,jdbcType=INTEGER},
      order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      amount_collected = #{amountCollected,jdbcType=DECIMAL},
      we_chat = #{weChat,jdbcType=DECIMAL},
      alipay = #{alipay,jdbcType=DECIMAL},
      star_chain_card = #{starChainCard,jdbcType=DECIMAL},
      star_chain_purse = #{starChainPurse,jdbcType=DECIMAL},
      scan_code_payment = #{scanCodePayment,jdbcType=DECIMAL},
      yuan_payment = #{yuanPayment,jdbcType=DECIMAL},
      user_number = #{userNumber,jdbcType=INTEGER},
      app_number = #{appNumber,jdbcType=INTEGER},
      pv = #{pv,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="cn.roc.mag.entity.DmCeoDesktopT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date_id" jdbcType="INTEGER" property="dateId" />
    <result column="order_total" jdbcType="INTEGER" property="orderTotal" />
    <result column="order_total_amount" jdbcType="DECIMAL" property="orderTotalAmount" />
    <result column="amount_collected" jdbcType="DECIMAL" property="amountCollected" />
    <result column="we_chat" jdbcType="DECIMAL" property="weChat" />
    <result column="alipay" jdbcType="DECIMAL" property="alipay" />
    <result column="star_chain_card" jdbcType="DECIMAL" property="starChainCard" />
    <result column="star_chain_purse" jdbcType="DECIMAL" property="starChainPurse" />
    <result column="scan_code_payment" jdbcType="DECIMAL" property="scanCodePayment" />
    <result column="yuan_payment" jdbcType="DECIMAL" property="yuanPayment" />
    <result column="user_number" jdbcType="INTEGER" property="userNumber" />
    <result column="app_number" jdbcType="INTEGER" property="appNumber" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="uv" jdbcType="INTEGER" property="uv" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date_id, order_total, order_total_amount, amount_collected, we_chat, alipay, 
    star_chain_card, star_chain_purse, scan_code_payment, yuan_payment, user_number, 
    app_number, pv, uv, business_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_ceo_desktop_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dm_ceo_desktop_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    insert into dm_ceo_desktop_t (id, date_id, order_total, 
      order_total_amount, amount_collected, we_chat, 
      alipay, star_chain_card, star_chain_purse, 
      scan_code_payment, yuan_payment, user_number, 
      app_number, pv, uv, 
      business_type)
    values (#{id,jdbcType=INTEGER}, #{dateId,jdbcType=INTEGER}, #{orderTotal,jdbcType=INTEGER}, 
      #{orderTotalAmount,jdbcType=DECIMAL}, #{amountCollected,jdbcType=DECIMAL}, #{weChat,jdbcType=DECIMAL}, 
      #{alipay,jdbcType=DECIMAL}, #{starChainCard,jdbcType=DECIMAL}, #{starChainPurse,jdbcType=DECIMAL}, 
      #{scanCodePayment,jdbcType=DECIMAL}, #{yuanPayment,jdbcType=DECIMAL}, #{userNumber,jdbcType=INTEGER}, 
      #{appNumber,jdbcType=INTEGER}, #{pv,jdbcType=INTEGER}, #{uv,jdbcType=INTEGER}, 
      #{businessType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    insert into dm_ceo_desktop_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dateId != null">
        date_id,
      </if>
      <if test="orderTotal != null">
        order_total,
      </if>
      <if test="orderTotalAmount != null">
        order_total_amount,
      </if>
      <if test="amountCollected != null">
        amount_collected,
      </if>
      <if test="weChat != null">
        we_chat,
      </if>
      <if test="alipay != null">
        alipay,
      </if>
      <if test="starChainCard != null">
        star_chain_card,
      </if>
      <if test="starChainPurse != null">
        star_chain_purse,
      </if>
      <if test="scanCodePayment != null">
        scan_code_payment,
      </if>
      <if test="yuanPayment != null">
        yuan_payment,
      </if>
      <if test="userNumber != null">
        user_number,
      </if>
      <if test="appNumber != null">
        app_number,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="uv != null">
        uv,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dateId != null">
        #{dateId,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null">
        #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderTotalAmount != null">
        #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountCollected != null">
        #{amountCollected,jdbcType=DECIMAL},
      </if>
      <if test="weChat != null">
        #{weChat,jdbcType=DECIMAL},
      </if>
      <if test="alipay != null">
        #{alipay,jdbcType=DECIMAL},
      </if>
      <if test="starChainCard != null">
        #{starChainCard,jdbcType=DECIMAL},
      </if>
      <if test="starChainPurse != null">
        #{starChainPurse,jdbcType=DECIMAL},
      </if>
      <if test="scanCodePayment != null">
        #{scanCodePayment,jdbcType=DECIMAL},
      </if>
      <if test="yuanPayment != null">
        #{yuanPayment,jdbcType=DECIMAL},
      </if>
      <if test="userNumber != null">
        #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="appNumber != null">
        #{appNumber,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    update dm_ceo_desktop_t
    <set>
      <if test="dateId != null">
        date_id = #{dateId,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null">
        order_total = #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderTotalAmount != null">
        order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountCollected != null">
        amount_collected = #{amountCollected,jdbcType=DECIMAL},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=DECIMAL},
      </if>
      <if test="alipay != null">
        alipay = #{alipay,jdbcType=DECIMAL},
      </if>
      <if test="starChainCard != null">
        star_chain_card = #{starChainCard,jdbcType=DECIMAL},
      </if>
      <if test="starChainPurse != null">
        star_chain_purse = #{starChainPurse,jdbcType=DECIMAL},
      </if>
      <if test="scanCodePayment != null">
        scan_code_payment = #{scanCodePayment,jdbcType=DECIMAL},
      </if>
      <if test="yuanPayment != null">
        yuan_payment = #{yuanPayment,jdbcType=DECIMAL},
      </if>
      <if test="userNumber != null">
        user_number = #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="appNumber != null">
        app_number = #{appNumber,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    update dm_ceo_desktop_t
    set date_id = #{dateId,jdbcType=INTEGER},
      order_total = #{orderTotal,jdbcType=INTEGER},
      order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      amount_collected = #{amountCollected,jdbcType=DECIMAL},
      we_chat = #{weChat,jdbcType=DECIMAL},
      alipay = #{alipay,jdbcType=DECIMAL},
      star_chain_card = #{starChainCard,jdbcType=DECIMAL},
      star_chain_purse = #{starChainPurse,jdbcType=DECIMAL},
      scan_code_payment = #{scanCodePayment,jdbcType=DECIMAL},
      yuan_payment = #{yuanPayment,jdbcType=DECIMAL},
      user_number = #{userNumber,jdbcType=INTEGER},
      app_number = #{appNumber,jdbcType=INTEGER},
      pv = #{pv,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="cn.roc.mag.entity.DmCeoDesktopT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="day_id" jdbcType="INTEGER" property="dayId" />
    <result column="order_total" jdbcType="INTEGER" property="orderTotal" />
    <result column="order_total_amount" jdbcType="DECIMAL" property="orderTotalAmount" />
    <result column="amount_collected" jdbcType="DECIMAL" property="amountCollected" />
    <result column="we_chat" jdbcType="DECIMAL" property="weChat" />
    <result column="alipay" jdbcType="DECIMAL" property="alipay" />
    <result column="star_chain_card" jdbcType="DECIMAL" property="starChainCard" />
    <result column="star_chain_purse" jdbcType="DECIMAL" property="starChainPurse" />
    <result column="scan_code_payment" jdbcType="DECIMAL" property="scanCodePayment" />
    <result column="yuan_payment" jdbcType="DECIMAL" property="yuanPayment" />
    <result column="user_number" jdbcType="INTEGER" property="userNumber" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="uv" jdbcType="INTEGER" property="uv" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, day_id, order_total, order_total_amount, amount_collected, we_chat, alipay, star_chain_card, 
    star_chain_purse, scan_code_payment, yuan_payment, user_number, pv, uv, business_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_ceo_desktop_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dm_ceo_desktop_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    insert into dm_ceo_desktop_t (id, day_id, order_total, 
      order_total_amount, amount_collected, we_chat, 
      alipay, star_chain_card, star_chain_purse, 
      scan_code_payment, yuan_payment, user_number, 
      pv, uv, business_type
      )
    values (#{id,jdbcType=INTEGER}, #{dayId,jdbcType=INTEGER}, #{orderTotal,jdbcType=INTEGER}, 
      #{orderTotalAmount,jdbcType=DECIMAL}, #{amountCollected,jdbcType=DECIMAL}, #{weChat,jdbcType=DECIMAL}, 
      #{alipay,jdbcType=DECIMAL}, #{starChainCard,jdbcType=DECIMAL}, #{starChainPurse,jdbcType=DECIMAL}, 
      #{scanCodePayment,jdbcType=DECIMAL}, #{yuanPayment,jdbcType=DECIMAL}, #{userNumber,jdbcType=INTEGER}, 
      #{pv,jdbcType=INTEGER}, #{uv,jdbcType=INTEGER}, #{businessType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    insert into dm_ceo_desktop_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dayId != null">
        day_id,
      </if>
      <if test="orderTotal != null">
        order_total,
      </if>
      <if test="orderTotalAmount != null">
        order_total_amount,
      </if>
      <if test="amountCollected != null">
        amount_collected,
      </if>
      <if test="weChat != null">
        we_chat,
      </if>
      <if test="alipay != null">
        alipay,
      </if>
      <if test="starChainCard != null">
        star_chain_card,
      </if>
      <if test="starChainPurse != null">
        star_chain_purse,
      </if>
      <if test="scanCodePayment != null">
        scan_code_payment,
      </if>
      <if test="yuanPayment != null">
        yuan_payment,
      </if>
      <if test="userNumber != null">
        user_number,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="uv != null">
        uv,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dayId != null">
        #{dayId,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null">
        #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderTotalAmount != null">
        #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountCollected != null">
        #{amountCollected,jdbcType=DECIMAL},
      </if>
      <if test="weChat != null">
        #{weChat,jdbcType=DECIMAL},
      </if>
      <if test="alipay != null">
        #{alipay,jdbcType=DECIMAL},
      </if>
      <if test="starChainCard != null">
        #{starChainCard,jdbcType=DECIMAL},
      </if>
      <if test="starChainPurse != null">
        #{starChainPurse,jdbcType=DECIMAL},
      </if>
      <if test="scanCodePayment != null">
        #{scanCodePayment,jdbcType=DECIMAL},
      </if>
      <if test="yuanPayment != null">
        #{yuanPayment,jdbcType=DECIMAL},
      </if>
      <if test="userNumber != null">
        #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    update dm_ceo_desktop_t
    <set>
      <if test="dayId != null">
        day_id = #{dayId,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null">
        order_total = #{orderTotal,jdbcType=INTEGER},
      </if>
      <if test="orderTotalAmount != null">
        order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountCollected != null">
        amount_collected = #{amountCollected,jdbcType=DECIMAL},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=DECIMAL},
      </if>
      <if test="alipay != null">
        alipay = #{alipay,jdbcType=DECIMAL},
      </if>
      <if test="starChainCard != null">
        star_chain_card = #{starChainCard,jdbcType=DECIMAL},
      </if>
      <if test="starChainPurse != null">
        star_chain_purse = #{starChainPurse,jdbcType=DECIMAL},
      </if>
      <if test="scanCodePayment != null">
        scan_code_payment = #{scanCodePayment,jdbcType=DECIMAL},
      </if>
      <if test="yuanPayment != null">
        yuan_payment = #{yuanPayment,jdbcType=DECIMAL},
      </if>
      <if test="userNumber != null">
        user_number = #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null">
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.roc.mag.entity.DmCeoDesktopT">
    update dm_ceo_desktop_t
    set day_id = #{dayId,jdbcType=INTEGER},
      order_total = #{orderTotal,jdbcType=INTEGER},
      order_total_amount = #{orderTotalAmount,jdbcType=DECIMAL},
      amount_collected = #{amountCollected,jdbcType=DECIMAL},
      we_chat = #{weChat,jdbcType=DECIMAL},
      alipay = #{alipay,jdbcType=DECIMAL},
      star_chain_card = #{starChainCard,jdbcType=DECIMAL},
      star_chain_purse = #{starChainPurse,jdbcType=DECIMAL},
      scan_code_payment = #{scanCodePayment,jdbcType=DECIMAL},
      yuan_payment = #{yuanPayment,jdbcType=DECIMAL},
      user_number = #{userNumber,jdbcType=INTEGER},
      pv = #{pv,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>