<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.roc.mag.mapper.DmOrderAreaSumFMapper" >
  <resultMap id="BaseResultMap" type="cn.roc.mag.entity.DmOrderAreaSumF" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date_id" property="dateId" jdbcType="INTEGER" />
    <result column="month_id" property="monthId" jdbcType="INTEGER" />
    <result column="year_id" property="yearId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="home" property="home" jdbcType="INTEGER" />
    <result column="order_amt" property="orderAmt" jdbcType="DECIMAL" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="dw_last_update_date" property="dwLastUpdateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date_id, month_id, year_id, province, home, order_amt, order_type, business_type, 
    dw_last_update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dm_order_area_sum_f
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dm_order_area_sum_f
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.roc.mag.entity.DmOrderAreaSumF" >
    insert into dm_order_area_sum_f (id, date_id, month_id, 
      year_id, province, home, 
      order_amt, order_type, business_type, 
      dw_last_update_date)
    values (#{id,jdbcType=INTEGER}, #{dateId,jdbcType=INTEGER}, #{monthId,jdbcType=INTEGER}, 
      #{yearId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{home,jdbcType=INTEGER}, 
      #{orderAmt,jdbcType=DECIMAL}, #{orderType,jdbcType=INTEGER}, #{businessType,jdbcType=VARCHAR}, 
      #{dwLastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.roc.mag.entity.DmOrderAreaSumF" >
    insert into dm_order_area_sum_f
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dateId != null" >
        date_id,
      </if>
      <if test="monthId != null" >
        month_id,
      </if>
      <if test="yearId != null" >
        year_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="home != null" >
        home,
      </if>
      <if test="orderAmt != null" >
        order_amt,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="dwLastUpdateDate != null" >
        dw_last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dateId != null" >
        #{dateId,jdbcType=INTEGER},
      </if>
      <if test="monthId != null" >
        #{monthId,jdbcType=INTEGER},
      </if>
      <if test="yearId != null" >
        #{yearId,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="home != null" >
        #{home,jdbcType=INTEGER},
      </if>
      <if test="orderAmt != null" >
        #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="dwLastUpdateDate != null" >
        #{dwLastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.roc.mag.entity.DmOrderAreaSumF" >
    update dm_order_area_sum_f
    <set >
      <if test="dateId != null" >
        date_id = #{dateId,jdbcType=INTEGER},
      </if>
      <if test="monthId != null" >
        month_id = #{monthId,jdbcType=INTEGER},
      </if>
      <if test="yearId != null" >
        year_id = #{yearId,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="home != null" >
        home = #{home,jdbcType=INTEGER},
      </if>
      <if test="orderAmt != null" >
        order_amt = #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="dwLastUpdateDate != null" >
        dw_last_update_date = #{dwLastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.roc.mag.entity.DmOrderAreaSumF" >
    update dm_order_area_sum_f
    set date_id = #{dateId,jdbcType=INTEGER},
      month_id = #{monthId,jdbcType=INTEGER},
      year_id = #{yearId,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      home = #{home,jdbcType=INTEGER},
      order_amt = #{orderAmt,jdbcType=DECIMAL},
      order_type = #{orderType,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=VARCHAR},
      dw_last_update_date = #{dwLastUpdateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>